<div class="data-content" [ngClass]="{'show': showData}">
    <table border="solid" margin="0" sacing="0">
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let pokemon of pokemons">
            <td>{{pokemon.name}}</td>
            <td class="center"><img
                    [src]="pokemon.image">
            </td>
            <td>{{pokemon.attack}}</td>
            <td>{{pokemon.defense}}</td>
            <td class="center">
                <div class="action-content">
                    <i class="pointer fa fa-edit" (click)="onSelected(pokemon)"></i>
                    <i class="pointer fa fa-trash" (click)="onDelete(pokemon)"></i>
                </div>
            </td>
        </tr>
        <tr *ngIf="pokemons.length <= 0">
            <td colspan="5" class="center"><h4>Sin Registros</h4></td>
        </tr>
    </table>
</div>